<!DOCTYPE html>
<html>
<head>
    <title>Book Added</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>

    <%- include("partials/header") %>

    <h1>Book Added Successfully</h1>
    <p>This book is added to the database:</p>
    <ul>
        <li>Name: <%= name %></li>
        <li>Price: £<%= price %></li>
    </ul>

    <a href="/list">View All Books</a>

</body>
</html>