<!doctype html>
<html>
  <head>
    <title>Welcome to <%= shopName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>

    <%- include("partials/header") %>

    <h1>Welcome to <%= shopName %></h1>
    <p>Discover our amazing collection of books — explore, search, or find a bargain! 📚✨</p>

  </body>
</html>